body{
  background: rgb(35, 30, 31);
}

.App {
  text-align: center;
  background-size: 100%;
  display: flex;
  color: #bc8a8a;
}

input{
  background: #46484a;
  border-radius: 7px;
  border: none;
  font-size: large;
  text-align: center;
  height: 32px;
}

button{
  color: black;
    background-color: gray;
}

h1{
  font-size: 70px;
  margin: 0;
}

a{
  text-decoration: none;
  font-weight: 700;
}